  :root {
      --fs-s: 18px;
      --fs-ss: 20px;
      --fs-sm: 21px;
      --fs-md: 24px;
      --fs-lg: 36px;
      --fs-xl: 20px;
      --fs-2xl: 30px;
      --fs-3xl: 144px;
  }

  @media (min-width:576px) {
      :root {
          /* --fs-s: 18px; */
          /* --fs-ss: 20px; */
          /* --fs-sm: 21px; */
          /* --fs-md: 24px; */
          /* --fs-lg: 36px; */
          --fs-xl: 30px;
          /* --fs-2xl: 64px; */
          /* --fs-3xl: 144px; */
      }
  }

  @media (min-width:768px) {
      :root {
          /* --fs-s: 18px; */
          /* --fs-ss: 20px; */
          /* --fs-sm: 21px; */
          /* --fs-md: 24px; */
          --fs-lg: 36px;
          --fs-xl: 35px;
          /* --fs-2xl: 64px; */
          /* --fs-3xl: 144px; */
      }
  }

  @media (min-width:992px) {
      :root {
          --fs-xl: 35px;
          --fs-2xl: 64px;
      }
  }

  @media (min-width:1200px) {
      :root {
          --fs-xl: 35px;
      }
  }

  @media (min-width:1400px) {
      :root {
          --fs-xl: 48px;
      }
  }