@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none !important;
    text-decoration: none !important;
    scroll-behavior: smooth !important;
}

:root {
    /* ========colors========= */
    --fc-purple: #9003E5;
    --fc-griden_purple: #9104E5;
    --fc-white: #ffffff;
    --fc-black: #000000;
    --fc-darkpink: #8A3E74;
    --fc-green: #008000;
    --fc-black70: #4D4D4D;
    --fc-blue: #010080;

    /* ===========bg-color=========== */
    --bg-green: #D2DA60;
    --bg-layerblack: #00000099;
    --bg-boxbg: #EEEEEE;
    --bg-newbox-bg: #F0F0F0;
    --bg-footerIcongrey: #444444;
}

.color-black70 {
    color: var(--fc-black70);
}

.color-blue {
    color: var(--fc-blue);
}

.color-darkpink {
    color: var(--fc-darkpink);
}

.color-purple {
    color: var(--fc-purple);
}

.color-black {
    color: var(--fc-black);
}

.color-white {
    color: var(--fc-white);
}

.bg-green {
    background: var(--bg-green);
}

.ff-pop {
    font-family: 'poppins', sans-serif;
}

/*=============font-size==============*/
.text18-s {
    font-size: var(--fs-s);
}

.text20-ss {
    font-size: var(--fs-ss);
}

.text21-sm {
    font-size: var(--fs-sm);
}

.text24-md {
    font-size: var(--fs-md);
}

.text36-lg {
    font-size: var(--fs-lg);
}

.text48-xl {
    font-size: var(--fs-xl);
}

.text64-2xl {
    font-size: var(--fs-2xl);
}

.text144-3xl {
    font-size: var(--fs-3xl);
}

.text36 {
    font-size: var(--fs-ss);
}

/* =============font-weight========== */
.fw-normal {
    font-weight: 400 !important;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-semibold {
    font-weight: 600 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

/* ============line-height=========== */
.lh-27 {
    line-height: 27px;
}

.lh-30 {
    line-height: 30px;
}

.lh-36 {
    line-height: 36px;
}

.lh-54 {
    line-height: 35px;
}

.lh-55 {
    line-height: 55px;
}

.lh-72 {
    line-height: 50px;
}

.lh-96 {
    line-height: 96px;
}

.lh-216 {
    line-height: 100px;
}

/* ==================margin============ */


/* ===============gap============= */
.gap-45 {
    gap: 45px;
}

/* =============nav========= */
.nav_link:hover {
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

.underline::after {
    content: "";
    position: absolute;
    width: 0;
    background: var(--fc-purple);
    bottom: 0;
    left: 0;
    height: 1px;
    transition: all 300ms linear;
}

.underline:hover::after {
    width: 100%;
}

.cross span:nth-child(1) {
    transform: rotate(50deg) translateY(26px);
    transition: all 300ms linear;
    position: relative;
    top: -7px;
}


.cross span:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
    transition: 300ms;

}

.cross span:nth-child(3) {
    transform: rotate(-52deg) translateY(-27px);
    transition: all 300ms linear;
    position: relative;
    top: 1px;

}

/* ================hero=============== */
.bg-hero-img {
    background-image: url(/assets/images/png/hero-backgroung-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bttn-grident-color {
    background-color: var(--fc-grident_purple);
    background: linear-gradient(90deg, #9104E5 0%, #F93B96 96.47%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btnn-style {
    Padding: 13px 45px 13px 45px;
    border: 4px solid;
    border-image: linear-gradient(90.44deg, #9003E5 2.42%, #F93B95 99.69%)1;
}

.bttn:hover {
    border: 4px solid;
    border-image: linear-gradient(90.44deg, #F93B95 2.42%, #9003E5 99.69%)1;
}

.bttn:hover.bttn-grident-color {
    background-color: var(--fc-grident_purple);
    background: linear-gradient(90deg, #F93B96 0%, #9104E5 96.47%);
    -webkit-background-clip: text;
}

/* ==============why-choose-us============ */
.py_115 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.choose_small_iconsboxes {
    width: 10px;
    height: 10px;
}

.choose_small_icons1::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    padding: 5px;
    background: linear-gradient(90deg, #F9AF0A 0%, #92AA61 85%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.choose_small_icons2::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    padding: 5px;
    background: linear-gradient(90deg, #1798BC 0%, #0185D3 90%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.choose_small_icons3::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    padding: 5px;
    background: linear-gradient(90deg, #7142A2 0%, #B31376 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.position_smaal_icons {
    position: absolute;
    top: 19%;
    right: 50%;
}

.ellpis1_choous {
    right: 0;
    top: 5%;
}

.ellpis2_choosus {
    left: 0;
    bottom: 5%;
}

.z_1 {
    z-index: -1;
}

.cursor-pointer {
    cursor: pointer;
}

/* ============gallery============= */
.black_layer::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--bg-layerblack);
    opacity: 0;
    transition: all 300ms linear;
}

.layer_hover:hover .black_layer::after {
    opacity: 1;
}

.gallery_content {
    opacity: 0;
    transition: all 300ms linear;
}

.layer_hover:hover .gallery_content {
    opacity: 1;
}

.gallery_content_position {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.border_gallery {
    border: 4px solid;
    border-image: linear-gradient(90deg, #9104E5 0%, #F93B96 96.47%)1;
    padding: 10px;
}

.gallery_circle {
    transition: all 300ms linear;
}

.gallery_circle:hover {
    scale: 1.1;
}

.galley-slider1 .black_layer>img {
    min-height: 329px;
}

.galley-slider2 .black_layer>img {
    min-height: 328px;
}

#gallery2 .slick-list {
    margin-top: -14px;
}

.mt_42 {
    margin-top: 42px;
}

/* =============welcom============ */
.pb_115 {
    padding-bottom: 50px;
}

.max-w-648 {
    max-width: 648px;
}

.gap_33 {
    row-gap: 33px;
}

.welcom-elli2-posi {
    bottom: 10%;
    right: 0;
}

.border_radius_23 {
    border-radius: 23px;
}

/* ==============our-process========== */
.my-container {
    margin-left: 21px;
    margin-right: 21px;
}

.max-w-276 {
    max-width: 276px;
}

.max-w-215 {
    max-width: 215px;
}

.max-w-181 {
    max-width: 181px;
}

.max-w-194 {
    max-width: 194px;
}

.mt_10 {
    margin-top: 8%;
}

.process_timeline_position {
    top: 45%;
    right: 5%;
    z-index: -1;
}

.gap-r-30 {
    row-gap: 30px;
}

/* =================servise============ */
.pt_60 {
    padding-top: 60px;
    padding-bottom: 30px;
}

.max-w-471 {
    max-width: 471px;
}

.max-w-753 {
    max-width: 502px;
}

.br_48 {
    border-radius: 48px;
}

.blue_btn {
    padding: 11px 34px;
    background: var(--fc-blue);
    border-radius: 4px;
    border: transparent;
    position: relative;
    overflow: hidden;
    transition: 0.3s linear;
}

.blue_btn:hover {
    color: var(--fc-white);
    z-index: 1;
}

.blue_btn:after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--fc-black);
    border-radius: 4px;
    transition: 0.3s linear;
    opacity: 0;
    z-index: -1;
}

.blue_btn:hover::after {
    opacity: 1;
    left: 0%;
}

.our_servise_box {
    max-width: 1774px;
    min-height: 612px;
    background: var(--bg-boxbg);
    border-radius: 40px;
    width: 100%;
    z-index: -1;
}

.servise_box_position {
    top: 18%;
    right: 0;
}

.our_servise_box2 {
    max-width: 1774px;
    min-height: 600px;
    background: var(--bg-boxbg);
    border-radius: 40px;
    width: 100%;
    z-index: -1;
}

.servise_box_position2 {
    top: 16%;
    right: 0;
}

.our_servise_box3 {
    max-width: 1774px;
    min-height: 600px;
    background: var(--bg-boxbg);
    border-radius: 40px;
    width: 100%;
    z-index: -1;
}

.servise_box_position3 {
    top: 13%;
    right: 0;
}

.sevise-ellip-position {
    top: 25%;
    left: 13%;
    z-index: -1;
}

.servise-ellip2 {
    top: 20%;
    right: 10%;
}

.servise-ellip3 {
    top: 13%;
    left: 2%;
}

/* ==============inspitations=========== */
.gap_24 {
    gap: 24px;
}

.inspit_ellip1 {
    right: 0;
    top: 32%;
}

.inspit_ellip2 {
    left: 0;
    bottom: -7px;
}

.max-w-480 {
    max-width: 480px;
}

/* ===============team================ */
.py_21 {
    padding-top: 21px;
    padding-bottom: 21px;
}

.team_bg_color {
    background: var(--fc-blue);
}

.max-w-423 {
    max-width: 423px;
}

.max-w-335 {
    max-width: 335px;
}

.max-w-370 {
    max-width: 370px;
}

.w100 {
    width: 100%;
}

.h-434 {
    height: 434px;
}

.h-494 {
    height: 494px;
}

.br_24 {
    border-radius: 24px;
}

.bg-white {
    background: var(--fc-white);
}

.grid_box1 {
    padding: 10px 0 10px 10px;
    max-width: 554px;
    margin-right: 10px;
}


.grid_box2 {
    padding: 9px 27px;
    max-width: 440px;
    margin-right: 10px;
}

.grid_box3 {
    padding: 17px 11px;
    max-width: 357px;
    margin-right: 10px;
}

.blue_box {
    background: var(--fc-blue);
    height: 494px;
    border-radius: 24px;
}

.grid-text-position {
    bottom: 20px;
    left: 36px;
}

/* =================testimonials=============== */
.max_w_292 {
    max-width: 292px;
}

.testi-ellipse-1 {
    position: absolute;
    top: 0px;
    left: 0;
}

.testi-ellipse-2 {
    position: absolute;
    top: -262px;
    right: 0;
    z-index: -1;
}

.color_grident {
    background: linear-gradient(90deg, #9104E5 0%, #F93B96 96.47%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.5;
}

.news_box {
    width: 100%;
    max-width: 1320px;
    height: 394px;
    background: var(--bg-newbox-bg);
    border-radius: 45px;
    /* z-index: -1; */
    margin-top: 60px;
    padding: 100px 20px 20px 20px;
}

.mail_box {
    background: var(--fc-white);
    border: transparent;
    outline: transparent;
    max-width: 672px;
    width: 100%;
    padding: 22px 40px 22px 40px;
}

.news_text_position {
    top: -1%;
}

.mail_btn {
    padding: 24px 49px;
    background: var(--fc-blue);
    border: transparent;
    position: relative;
    overflow: hidden;
}

.mail_btn:hover {
    color: var(--fc-white);
    z-index: 1;
}

.mail_btn:after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--fc-black);
    border-radius: 4px;
    transition: 0.3s linear;
    opacity: 0;
    z-index: -1;
}

.mail_btn:hover::after {
    opacity: 1;
    left: 0%;
}

.news_ellip1 {
    left: -19%;
}


/* ================footer============== */
.row_gap {
    row-gap: 40px;
}

.border_footer_bottom {
    border: 1px solid var(--fc-white);
}

.pt_54 {
    padding-top: 54px;
}

.py_26 {
    padding-top: 26px;
    padding-bottom: 26px;
}

.mb_14 {
    margin-bottom: 14px;
}

.mb_24 {
    margin-bottom: 24px;
}

.footer_iconBox {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--bg-footerIcongrey);
    transition: all 300ms linear;
}

.footer_iconBox:hover {
    transform: scale(1.1);
    background: var(--fc-white);
    box-shadow: 3px 3px 15px -2px var(--fc-white);
}

.footer_iconBox:hover svg path {
    fill: var(--bg-footerIcongrey);
}

.topBtn {
    width: 30px;
    height: 30px;
    background: var(--bg-green);
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 10%;
    cursor: pointer;
    opacity: 0;
    transition: all 300ms linear;
}

.topBtn.show {
    opacity: 1;
}

.topBtn:hover {
    box-shadow: 0px 3px 15px 3px var(--bg-green);
}

@media (max-width:992px) {
    .overFlowHidden {
        overflow: hidden;
    }

    ul.menulist.show {
        left: 0;
    }

    .menulist {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        transition: all 300ms linear;
        z-index: 3;
        /* backdrop-filter: blur(50px); */
        background: var(--bg-green);
    }

    .menuIcon {
        width: 30px;
        height: 30px;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        cursor: pointer;
        transition: all 300ms linear;
        z-index: 4;
    }

    .menuIcon>span {
        /* width: 100%; */
        height: 4px;
        background: var(--fc-purple);
        transition: all 300ms linear;
    }

}

@media (min-width:576px) {
    .lh-37 {
        line-height: 54px;
    }

    .lh-55 {
        line-height: 72px;
    }

    .our_servise_box {
        min-height: 655px;
    }

    .servise_box_position {
        top: 16%;
    }

    .our_servise_box2 {
        min-height: 615px;
    }

    .servise_box_position2 {
        top: 15%;
    }

    .our_servise_box3 {
        min-height: 615px;
    }

    .servise_box_position2 {
        top: 13%;
    }


}

@media (min-width:768px) {
    .mb_24 {
        margin-bottom: 24px;
    }

    .py_115 {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .pt_60 {
        padding-bottom: 80px;
    }

    .pb_115 {
        padding-bottom: 80px;
    }

    .text36 {
        font-size: var(--fs-lg);
    }

    .lh-54 {
        line-height: 54px;
    }

    .lh-72 {
        line-height: 72px;
    }

    .news_text_position {
        top: 5%;
    }

    .news_box {
        padding: 0;
    }

    .lh-216 {
        line-height: 100px;
    }

    .our_servise_box {
        min-height: 615px;
    }

    .servise_box_position {
        top: 24%;
    }

    .topBtn {
        width: 50px;
        height: 50px;
    }
}

@media (min-width:992px) {
    .w100 {
        width: 426px;
    }

    .lh-216 {
        line-height: 216px;
    }

    .border_right {
        border-right: 1px dotted var(--fc-black)
    }

    .border_bottom {
        border-bottom: 1px dotted var(--fc-black);
    }

    .my_92 {
        margin: 92px 0 92px 0;
    }

    .mt_67 {
        margin-top: 67px;
    }

    .mt_24 {
        margin-top: 24px;
    }

    .mb_60 {
        margin-bottom: 60px;
    }

    .pt_66 {
        padding-top: 66px;
    }

    .py_115 {
        padding-top: 115px;
        padding-bottom: 115px;
    }

    .pt_60 {
        padding-bottom: 115px;
    }

    .pb_115 {
        padding-bottom: 115px;
    }

    .border_gallery {
        padding: 0;
    }

    .servise_box_position {
        top: 33%;
    }

    .our_servise_box {
        min-height: 368px;
    }

    .our_servise_box2 {
        min-height: 368px;
    }

    .servise_box_position2 {
        top: 19%;
    }

    .servise_box_position3 {
        top: 13%;
    }

    .our_servise_box3 {
        min-height: 368px;
    }

    .mail_box {
        padding: 22px 369px 22px 40px;
    }

    .news_text_position {
        top: -27%;
    }

    .news_box {
        margin-top: 223px;
    }
}

@media (min-width:1200px) {
    .grid_box1 {
        padding: 17px 37px;
        max-width: 554px;
    }

    .grid_box2 {
        padding: 17px 52px;
        max-width: 440px;
    }

    .max-w-647 {
        max-width: 647px;
    }

    .max-w-753 {
        max-width: 753px;
    }

    .mr_70 {
        margin-right: 70px;
    }

    .our_servise_box {
        min-height: 446px;
    }

    .servise_box_position {
        top: 30%;
    }

    .our_servise_box2 {
        min-height: 470px;
    }

    .servise_box_position2 {
        top: 15%;
    }

    .our_servise_box3 {
        min-height: 470px;
    }

    .servise_box_position3 {
        top: 11%;
    }

    .lh-216 {
        line-height: 216px;
    }
}

@media (min-width:1440px) {
    .border_gallery {
        padding: 58px 11px;
    }

    .min_h_900 {
        min-height: 810px;
    }

    .ml_202 {
        margin-left: 95px;
    }

    .mr_216 {
        margin-right: 294px;
    }

    .servise_box_position {
        top: 50%;
    }

    .our_servise_box {
        min-height: 340px;
    }

    .servise_box_position2 {
        top: 43%;
    }

    .our_servise_box2 {
        min-height: 340px;
    }

    .servise_box_position3 {
        top: 46%;
    }

    .our_servise_box3 {
        min-height: 340px;
    }

    .team2_position {
        position: absolute;
        top: 35%;
        left: 31%;
        z-index: 1;
    }

    .team4_position {
        position: absolute;
        top: 35%;
        left: 66%;
    }
}

@media (max-width:1440px) {
    .d_flex {
        display: flex;
    }

    .align_items_center {
        align-items: center;
    }

    .flex_column {
        flex-direction: column;
    }
}